<form [formGroup]="beneficiaireForm" (ngSubmit)="submitBeneficiaire()">
   
    <input id="idBeneficiaire" formControlName="idBeneficiaire" type="hidden">
  
    <label for="nomBeneficiaire">Nom Beneficiaire:</label>
    <input id="nomBeneficiaire" formControlName="nomBeneficiaire" type="text">
  
    <label for="numeroCompte">numeroCompte:</label>
    <input id="numeroCompte" formControlName="numeroCompte" type="number">
  
    <label for="banque">genre:</label>
    <input id="banque" formControlName="banque" type="text">

    <label for="idCompte">idCompte:</label>
    <input id="idCompte" formControlName="idCompte" type="number">
  
    <button  type="submit">Add</button>
  </form>
  
