<form [formGroup]="beneficiaireForm" (ngSubmit)="submitBeneficiaire()">
   
    <input id="idBeneficiaire" formControlName="idBeneficiaire" type="hidden">
  
    <label for="nomBeneficiaire">Nom Beneficiaire:</label><br>
    <input id="nomBeneficiaire" formControlName="nomBeneficiaire" type="text"><br>
  
    <label for="numeroCompte">numeroCompte:</label><br>
    <input id="numeroCompte" formControlName="numeroCompte" type="number"><br>
  
    <label for="banque">genre:</label><br>
    <input id="banque" formControlName="banque" type="text"><br>

    <label for="idCompte">idCompte:</label><br>
    <input id="idCompte" formControlName="idCompte" type="number"><br>
  
    <button  type="submit">Add</button>
</form>
  
