
<!-- <table>
    <thead>
    <tr>
      <th>idCarte</th>
      <th>numero</th>
      <th>dateExpiration</th>
      <th>typeCarte</th>
      <th>status</th>
      <th>compte</th>
    
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let carte of listCartes">
      <td>{{carte.idCarte}}</td>
      <td>{{carte.numero}}</td>
      <td>{{carte.dateExpiration}}</td>
      <td>{{carte.typeCarte}}</td>
      <td>{{carte.status}}</td>
      <td>{{carte.compte.idCompte}}</td>
   <td>
    <button type="button" (click)="updateStatus(carte.idCarte, 'active')">Activer</button>
    <button type="button" (click)="updateStatus(carte.idCarte, 'inactive')">Désactiver</button>
    <button type="button" (click)="updateStatus(carte.idCarte, 'blocked')">Bloquer</button>
   </td>
    </tr>

    </tbody>
  </table> -->



  <div class="container" *ngFor="let carte of listCartes">
    <header>
      <span class="logo">
        <img src="../../assets/images/logoo.png" alt="Logo" />
        <h5>Master Card</h5>
      </span>
      <img src="../../assets/images/chip.png" alt="Chip" class="chip" />
    </header>
    <div class="card-details">
      <div class="name-number">
        <h6>Card Number</h6>
        <h5 class="number">{{ getFormattedCardNumber(carte) }}</h5>
        <h5 class="name">{{ carte.typeCarte }}</h5>
      </div>
      <div class="valid-date">
        <h6>Valid Thru</h6>
        <h5>{{ getFormattedExpirationDate(carte) }}</h5>
      </div>
    </div>
  </div>