.dashboard{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
}
.menu{
    width: 20%;
    height: 100%;
    background: var(--color-secondary);
}
.img-logo{
    width: 90%;
    padding: 10px;
    margin: 20 auto;
}
.img-logo > img {
    width: 100%;
}
.hero{
    width: 78%;
    height: 100%
}
.nav{
    width: 100%;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.profile{
   width: 30%;
   display: flex;
   align-items: center;
}
.imgProfile{
    width: 50px;
    height: 50px;
    background: grey;
    border-radius: 100%;
}
.profile > h2{
    font-size: 17px;
    color: white;
    font-weight: 700;
    padding-top: 10px;
    margin-left: 10px;
}
.btns{
    width: 30%;
}
.btns > button{
    padding: 10px 15px;
    border: 2px solid white;
    border-radius: 15px;
    background: var(--color-secondary);
    color: white;
}
.hero-main{
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: space-between;
}
.hero-main-left{
    width: 60%;
    height: 100%;
}
.hero-main-right{
    width: 38%;
    height: 100%;
}
.account{
    width: 100%;
    padding: 20px;
    background: var(--color-secondary);
    border-radius: 15px;
}
.header-account{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.header-account > h1 {
    font-size: 22px;
    font-weight: 900;
    color: var(--color-light);
}
.transaction{
    width: 98%;
    padding: 10px;
    background: var(--color-secondary);
    border-radius: 20px;
    margin-top: 10px;
}
.transaction-header{
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 10px;
}
.transaction-header > h1 {
    font-size: 16px;
    font-weight: 900;
    color: var(--color-light);
    display: flex;
    align-items: center;
}
.transaction-header > button{
    background: var(--background-primary);
    border: none;
    border-radius: 15px;
    padding: 5px 10px;
    color: var(--color-light);
    font-size: 12px;
    font-weight: 700;
    transition: .3s;
}
.transaction-header > button:hover{
    background:black;
}
.cardB{
    width: 100%;
    padding: 20px;
    background: var(--color-secondary);
    border-radius: 15px;
    margin-top: 10px;
    padding-bottom: 60px;
}
.beneficier{
    width: 98%;
    padding: 10px;
    background: var(--color-secondary);
    border-radius: 20px;
    margin-top: 10px;
}
.addBeneficier{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.148);
    backdrop-filter: blur(10px);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}
.addBeneficier > button{
    position: absolute;
    top: 50px;
    right: 50px;
    border: none;
    border-radius: 12px;
    background: var(--color-light);
    padding: 10px 14px;
    color: black;
    transition: .4s;
    cursor: pointer;
}
.addBeneficier > button:hover{
    background: black;
    color: var(--color-light);
}
.formulare{
    width: 50%;
    padding: 10px;
    background: var(--color-secondary);
    border-radius: 20px;
    margin-top: 10px;
    margin: 0 auto;
}