<div class="dashboard">
    <div class="menu">

    </div>
    <div class="hero">
        <div class="nav">
            <div class="profile">
                <div class="imgProfile">
                    <img src="" alt="">
                </div>
                <h2>Salma Baouch</h2>
            </div>    
            <div class="btns">
                <button class="addcard"><span>+ </span> Add Card</button>
            </div>

        </div>
        <div class="hero-main">
            <div class="hero-main-left">
                <div class="account">
                    <div class="header-account">
                        <h1>ACCOUNT INFO</h1>
                    </div>
                    <app-show-account></app-show-account>
                </div>
                <div class="transaction">
                    <div class="transaction-header">
                        <h1>TRANSACTION</h1>
                        <button>add transaction</button>
                    </div>
                        <app-transaction></app-transaction>
                </div>
            </div>
            <div class="hero-main-right">
                <div class="cardB">
                    <app-carte-bancaire></app-carte-bancaire>
                </div>
            </div>
        </div>
    </div>
</div>