<table>
    <thead>
    <tr>
      <th>idBeneficiaire</th>
      <th>nomBeneficiaire</th>
      <th>banque</th>
      <th>numeroCompte</th>
      <th>id compte</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let beneficiaire of listBeneficiaire">
      <td>{{beneficiaire.idBeneficiaire}}</td>
      <td>{{beneficiaire.nomBeneficiaire}}</td>
      <td>{{beneficiaire.banque}}</td>
      <td>{{beneficiaire.numeroCompte}}</td>
      <td>{{beneficiaire.compte.idCompte}}</td>

      <td>
        <a routerLink="/beneficiaire/{{beneficiaire.idBeneficiaire}}">Update</a>
        <button type="button" class="btn btn-delete" (click)="deleteBeneficiaire(beneficiaire.idBeneficiaire)">Delete</button>
    </td>
      
    </tr>

    </tbody>
  </table>



