<!-- <table>
    <thead>
    <tr>
      <th>idBeneficiaire</th>
      <th>nomBeneficiaire</th>
      <th>banque</th>
      <th>numeroCompte</th>
      <th>id compte</th>
    </tr>
    </thead>
    <tbody>
    <tr >
      <td>{{beneficiaire.idBeneficiaire}}</td>
      <td>{{beneficiaire.nomBeneficiaire}}</td>
      <td>{{beneficiaire.banque}}</td>
      <td>{{beneficiaire.numeroCompte}}</td>
      <td>{{beneficiaire.compte.idCompte}}</td>

      <td>
        <a routerLink="/beneficiaire/{{beneficiaire.idBeneficiaire}}">Update</a>
        <button type="button" class="btn btn-delete" (click)="deleteBeneficiaire(beneficiaire.idBeneficiaire)">Delete</button>
    </td>
      
    </tr>

    </tbody>
  </table> -->

  <div class="beneficier">
    <div class="beneficier-info" *ngFor="let beneficiaire of listBeneficiaire">
      <div class="img-beneficier">
        <img src="../../assets/images/compte.png" alt="">
      </div>
      <div class="info">
        <h2>{{beneficiaire.nomBeneficiaire}}</h2>
        <h3>{{beneficiaire.numeroCompte}}</h3>
      </div>
      <div class="btns">
        <button id="delete" (click)="deleteBeneficiaire(beneficiaire.idBeneficiaire)">Delete</button>
        <button><a routerLink="/beneficiaire/{{beneficiaire.idBeneficiaire}}">pdate</a></button>
      </div>
    </div>
  </div>


