<div class="transaction-container"> 
    <div class="tran-warpper">
      
      <div class="transaction" *ngFor="let transaction of listTransaction">
        <div class="transaction-info">
          <div class="transaction-icon">
            <img src="../../assets/icons/transaction (2).png" alt="">
          </div>
          <div class="transaction-details">
            <h2>{{transaction.descriptionTransaction}}</h2>
            <p>Date : {{transaction.dateTransaction}} , Heurs : {{transaction.heursTransaction}}</p>
          </div>
        </div>
        <div class="transaction-type">
          <p>{{transaction.typeTransaction}}</p>
          <p class="transaction-category">{{transaction.banque}}</p>
        </div>
        <div class="transaction-amount">
          <p>{{transaction.montant}}DH</p>
          <p class="transaction-status">Success</p>
        </div>
      </div>
    
    </div>
</div>
  