<div class="home">
    <div class="header">
      <div class="img">
        <img src="../../assets/images/Grey and Orange Credit Card Security Finance Logo.png" alt="">
      </div>
      <div class="btns">
        <button class="btn btn-primary" (click)="onOpen()">Login</button>
        <button class="btn btn-secondary">Signup</button>
      </div>
    </div>
    <div class="hero">
      <div class="hero-left">
        <h1>E-BANK SOLUTION</h1>
        <h2>Create your account now and enjoy our services in all sectors, With the advantages of paying and receiving faster</h2>
        <div class="content">
          <div class="img2">
            <img src="../../assets/images/girl.png" alt="">
          </div>
          <div class="img3">
            <img src="../../assets/images/text.png" alt="">
          </div>
        </div>
      </div>
      <div class="hero-right">
        <div class="cardBank">
          <img src="../../assets/images/card.png" alt="">
        </div>
      </div>
    </div>
  </div>
  <section #loginSection class="login-section">
    <button (click)="onClose()">close</button>
    <app-login></app-login>
  </section>
  